<kendo-grid
  [kendoGridBinding]="(gridData$ | async) || []"
  [loading]="!!(loadingService.isLoading() | async)"
>
  <ng-template kendoGridToolbarTemplate>
    <kendo-dropdownlist
      [data]="(groupDescriptions$ | async)! | replace:'_':' '"
      (selectionChange)="groupDescriptionChange($event)"
    ></kendo-dropdownlist>

    <kendo-dropdownlist
      #measurementDescriptionsDropDown
      [data]="measurementDescriptions$ | async"
      (selectionChange)="measurementDescriptionChange($event)"
    >
      <ng-template kendoComboBoxNoDataTemplate>
        <h4>You have to pick any value in the first dropbox</h4>
      </ng-template>
    </kendo-dropdownlist>
  </ng-template>

  <kendo-grid-column field="kpiTeamName" title="Team name"></kendo-grid-column>

  <kendo-grid-column field="kpiAchievementPercent" title="Today">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div [style.color]="dataItem.kpiColor">
        {{dataItem.kpiAchievementPercent | percent: '2.2-5'}}
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
